<launch>

    <rosparam command="load" file="$(find erasor)/config/your_own_env_vel16.yaml" />
    <node name="main_in_your_env_ros" pkg="erasor" type="main_in_your_env_ros" output="screen">
    <rosparam param="/large_scale/is_large_scale">true</rosparam>
    <rosparam param="/large_scale/submap_size">200.0</rosparam>
    </node>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find erasor)/rviz/erasor_map_in_your_env_v2.rviz"/>
    <node name="rviz_body" pkg="rviz" type="rviz" args="-d $(find erasor)/rviz/srt.rviz"/>
    
  <!-- Launch file for velodyne16 VLP-16 LiDAR -->
    <arg name="rviz" default="true" />
    <rosparam command="load" file="$(find fast_lio)/config/velodyne.yaml" />
    <param name="feature_extract_enable" type="bool" value="0"/>
    <param name="point_filter_num" type="int" value="4"/>
    <param name="max_iteration" type="int" value="3" />
    <param name="filter_size_surf" type="double" value="0.5" />
    <param name="filter_size_map" type="double" value="0.5" />
    <param name="cube_side_length" type="double" value="1000" />
    <param name="runtime_pos_log_enable" type="bool" value="0" />
    <node pkg="fast_lio" type="fastlio_mapping" name="laserMapping" output="screen" /> 
    <node pkg="fast_lio" type="bag_convert_pcds" name="bagtoPcl" output="screen" />
</launch>